.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.result-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border: 1px solid grey;
  max-width: 100%;
  padding: 12px;
  margin: 12px;
}

.result-row > img {
  max-height: 120px;
}

.results-container {
  max-width: 85%;
}

@media only screen and (max-width: 600px) {
  .results-container {
    max-width: 100%;
  }
}

.result-content {
  width: 100%;
}

input {
  margin: 6px;
}

button {
  margin: 6px;
}

.login {
  margin: 6px;
}
